.main-content {
  margin: auto;
  max-width: 900px;
}

.toolbar {
  display: flex;
  padding: 20px 0;
}

.filter-button {
 padding: 10px 15px;
 background: white;
}

.filter-button:focus {
  background: grey;
  border: white;
  color: white;
}

.filter-button:nth-child(n+2) {
  margin-left: 3px;
}

.project-list {
  column-count: 3;
  column-gap: 19px;
}

.project-img {
  width: 100%;
  margin-bottom: 19px;
}